*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
/* Navbar Section */
.navber-section{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}
.navber-section img{
    width: 140px;
}
.navber-section ul{
    display: flex;
}
.navber-section ul li{
    list-style: none;
}
.navber-section ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  margin-right: 22px;
}
.navber-section ul li a:hover{
    color: #469165;
    transition: all 0.3s ease;
}
.navber-section .btn{
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #469165;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.navber-section .btn:hover{
    background-color: #46b876;
     color:#000000;
     transition: 0.3s;;
}
/* Banner Section */
.banner-section{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.banner-section .banner{
    padding: 115px 0 180px 0;
    text-align: center;
}
.banner-section .banner .early-btn{
    font-size: 16px;
    color: #276941;
    border: none;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    cursor: pointer;
    margin-bottom: 16px;
}
.banner-section .banner .early-btn:hover{
    background-color: rgb(169, 164, 164);
     transition: 0.3s;
}
.banner-section .banner h1{
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
.banner-section .banner h1 span{
    font-size: 72px;
    font-weight: bold;
    color: #30B868;
}
.banner-section .banner p{
    font-size: 18px;
    color: #fff;
    line-height: 34px;
}
.banner-section .banner .banner-btn{
    margin-top: 25px;
}
.banner-section .banner-btn .banner-btn-1{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color:#469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    align-items: center;   
    margin-right: 14px; 
    cursor: pointer;
}
.banner-section .banner-btn .banner-btn-2{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    padding: 10px 14px;
    border-radius: 4px;
    align-items: center;  
    cursor: pointer; 
}
.banner-section .banner-btn .banner-btn-1 i{
 margin-left: 6px;
}
.banner-section .banner-btn .banner-btn-2 i{
 margin-right: 6px;
}
.banner-section .banner-btn .banner-btn-1:hover{
    background-color:#30B868 ;
    transition: 0.3s;
}
.banner-section .banner-btn .banner-btn-2:hover{
    background-color:#30B868 ;
    transition: 0.3s;
}
/* Notes Section  */
.notes-section .notes-text{
    text-align: center;
}
.notes-section .notes-text h1{
    font-size: 48px;
    color: #001931;
}
.notes-section .notes-text p{
    font-size: 16px;
    color: #627382;
    margin: 16px 0 44px 0;
}
.notes-section .notes-container{
    display: flex;
    gap: 24px;
}
.notes-section .notes-container .notes-card{
    width: 322px;
    text-align: center;
    padding: 24px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    margin-bottom: 120px;
}
.notes-section .notes-container .notes-card img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin: 35px 0 16px 0;
}
.notes-section .notes-container .notes-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 8px;
}
.notes-section .notes-container .notes-card p{
    font-size: 16px;
    color: #627382;
    line-height: 26px;
}
/* Second Brain Section */
.brain-section{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}
.brain-section .brain-text .title{
    font-size: 16px;
    color:#469165;
    text-transform: uppercase;
    font-weight: 500;  
}
.brain-section .brain-text h1{
    font-size: 48px;
    color:#001931;
    font-weight:bold;
    margin: 16px 0 ;  
}
.brain-section .brain-text p{
    display: flex;
    align-items: center; 
    gap: 10px
}
.brain-section .brain-text .list{
    margin-top:30px;
   line-height: 36px;
   align-items: center;
}
.brain-section .brain-text .list i{
    margin-right: 8px;
    width:18px;
    height: 18px;
    background-color:rgba(48, 184, 104, 1);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 10px;
    font-size: 12px;
}
/* Early Access Section */
.early-access{
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
    margin-bottom: 120px;
}
.early-access h1{
    font-size: 40px;
    color: #001931;
    margin-bottom: 8px;
}
.early-access p{
    font-size: 16px;
    color: #627382;
   line-height: 24px;
}
.early-access .early-btn{
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding:12px 16px ;
    background-color: #469165;
    border-radius: 4px;
    margin: 24px 0 16px 0;
    cursor: pointer;
}
.early-access .early-btn:hover{
    background-color: #276941;
    transition: 0.3s;
}
/* footer section */
footer{
    background-color: #001931;
}
.link-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 80px 0;
}
.link-section img{
    width: 120px;
}
.link-section h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 28px;
    margin-bottom: 16px;
}
.link-section ul{
   display: flex;
}
.link-section ul li{
  list-style: none;
}
.link-section ul li i{
  color: #000000;
  background-color: #fff;
  padding: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}
.link-section ul li i:hover{
    background-color: #a1e5bd;
     transition: 0.3s;
}
.copy-right-section p{
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
}
