*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
/* Navbar Section */
.navber-section{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}
.navber-section img{
    width: 140px;
}
.navber-section ul{
    display: flex;
}
.navber-section ul li{
    list-style: none;
}
.navber-section ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  margin-right: 22px;
}
.navber-section ul li a:hover{
    color: #469165;
    transition: all 0.3s ease;
}
.navber-section .btn{
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #469165;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.navber-section .btn:hover{
    background-color: #46b876;
     color:#000000;
     transition: 0.3s;;
}
/* Banner Section */
.banner-section{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.banner-section .banner{
    padding: 115px 0 180px 0;
    text-align: center;
}
.banner-section .banner .early-btn{
    font-size: 16px;
    color: #276941;
    border: none;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    cursor: pointer;
    margin-bottom: 16px;
}
.banner-section .banner .early-btn:hover{
    background-color: rgb(169, 164, 164);
     transition: 0.3s;
}
.banner-section .banner h1{
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}
.banner-section .banner h1 span{
    font-size: 72px;
    font-weight: bold;
    color: #30B868;
}
.banner-section .banner p{
    font-size: 18px;
    color: #fff;
    line-height: 34px;
}
.banner-section .banner .banner-btn{
    margin-top: 25px;
}
.banner-section .banner-btn .banner-btn-1{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color:#469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    align-items: center;   
    margin-right: 14px; 
    cursor: pointer;
}
.banner-section .banner-btn .banner-btn-2{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    padding: 10px 14px;
    border-radius: 4px;
    align-items: center;  
    cursor: pointer; 
}
.banner-section .banner-btn .banner-btn-1 i{
 margin-left: 6px;
}
.banner-section .banner-btn .banner-btn-2 i{
 margin-right: 6px;
}
.banner-section .banner-btn .banner-btn-1:hover{
    background-color:#30B868 ;
    transition: 0.3s;
}
.banner-section .banner-btn .banner-btn-2:hover{
    background-color:#30B868 ;
    transition: 0.3s;
}